extends ../layout

block content
  .new-submission
    form(action='/submission', id='new-submission', method='post')
      .new-linkage.row
        fieldset.col-xs-12
          input(maxlength=300, id='contract_link', type='text', value='', autofocus=true, name='contract_link')
    .submit-link.row
      .col-xs-4.col-xs-offset-4
        button(type='submit', form='new-submission', value='Read Contract',data-transition='fade')
          | Read Contract

block footer
  p.footer
    &copy; Instrumental Tech
