extends layout

block content
  .text-center.col-xs-12
    h1 Who We Are
    .about-text
      p We are a team of engineers, attorneys and entrepreneurs looking to fix the complicated contracting process.
      p
        | If you have any further questions about the service, feel free to 
        a(href='mailto:info@nutshll.co?Subject=Nutshll%20inquiry') send us an email!

