extends layout

block content
  .container.faq
    h1.text-center.faq-title Frequently Asked Questions
    .row.faq-questions
      .col-xs-12.col-sm-6
        h3 Are you a lawyer?
        p No! Nutshell is meant to be used alongside legal counsel. We do not offer legal advice in any way.
      .col-xs-12.col-sm-6
        h3 Is my contract safe?
        p Yes! We have a very straightforward NDA we sign with each customer. Contract summarizations are for you and you alone.
      .col-xs-12.col-sm-6
        h3 How does it work?
        p We use a proprietary deep learning algorithm to deliver context-based contract summarizations. No more wading through legalese to be an informed business owner.
      .col-xs-12.col-sm-6
        h3 Who is this for?
        p Nutshell services anyone reading contracts on a daily basis and delivering summaries by hand. At this moment, we most readily service startup and high-growth business founders to help navigate sales, fundraising and other time-intensive contract processes.
