extends layout

block content
  .home
    h1= title
    p Know What You Sign

    a(href='https://chrome.google.com/webstore/detail/gppgfopgkkiingembkklfojffngjephn', target='_blank')
      .cta Download The Chrome Extension
