extends layout

block content
  .container.home
    .row.text-center.hero
      .col-xs-12.col-sm-6.hero-text
        h1 Summarize a contract in seconds
      .col-xs-12.col-sm-6.text-center
        button.btn.btn-lg Try it free
    .row.text-center
      .col-xs-12
        h2 How It Works
      .col-xs-12.col-sm-6
        i.fa.fa-share
        h4 Forward us an email with your contract attached
      .col-xs-12.col-sm-6
        h4 2. Receive a bulleted summary of the contract within minutes
      .col-xs-12
        button.btn.btn-lg Learn more
    .row
      .col-xs-12.text-center
        h2 Pricing
        h4 The first contract is on us. $20 per email after that!
