extends layout

block content
  .container-fluid.home
    .row.text-center.hero
      .col-xs-12.hero-text
        h1 Summarize a contract in seconds
        button.btn.btn-lg Try it free
    .row.text-center.how-it-works
      .col-xs-12.heading
        h2 How It Works
      .col-xs-12.point
        i.fa.fa-share.fa-3x
          h4
            b Forward
            |  us an email with your contract attached
      .col-xs-12.point
        i.fa.fa-sticky-note.fa-3x
          h4
            b Receive
            |  a bulleted summary of the contract within minutes
      .col-xs-12.cta
        button.btn.btn-lg Learn more

    // .row
    //   .col-xs-12.text-center
    //     h2 Pricing
    //     h4 The first contract is on us. $20 per email after that!
