extends layout

block content
  .container-fluid.home
    .row.text-center.hero
      .col-xs-12.hero-text
        h1 Summarize a contract in seconds
        button.btn.btn-lg(type='button' data-toggle='modal' data-target='#modal') Try it free
    .row.text-center.sub-section
      .col-xs-12.heading
        h2 How It Works
      .col-xs-12.col-sm-4.point
        i.fa.fa-paper-plane-o.fa-3x
          h4
            b Forward
            |  us an email with your contract attached
      .col-xs-12.col-sm-4.point
        i.fa.fa-magic.fa-3x
          h4
            b Our technology
            |  reads and summarizes each piece of text
      .col-xs-12.col-sm-4.point
        i.fa.fa-sticky-note.fa-3x
          h4
            b Receive
            |  a bulleted summary of the contract within minutes
      .col-xs-12.cta
        button.btn.btn-lg Learn more
    .row.text-center.sub-section
      .col-xs-12.heading
        h2 Benefits
      .col-xs-12.col-sm-4.point
        i.fa.fa-clock-o.fa-3x
        h4 Save Time
        p Don't spend it googling for the definition of 'noninterference'. Your time is too valuable!
      .col-xs-12.col-sm-4.point
        i.fa.fa-check-circle.fa-3x
        h4 Make Better Decisions
        p Make better decisions for your business by not missing any irregular contract clauses
      .col-xs-12.col-sm-4.point
        i.fa.fa-money.fa-3x
        h4 Lessen Expenses
        p Lessen legal expenses by asking your lawyer only pertinent questions
      .col-xs-12.cta
        button.btn.btn-lg(type='button' data-toggle='modal' data-target='#modal') Know what you sign
    .row.text-center.sub-section
      .col-xs-12.heading
        h2 Pricing
      .col-xs-12.point
        p Free for beta users!
        p Provide your email for access
      .col-xs-12.cta
        button.btn.btn-lg(type='button' data-toggle='modal' data-target='#modal') Sign up now
