extends layout

block content
  .call-to-action
    a.hero(href='https://chrome.google.com/webstore/detail/gppgfopgkkiingembkklfojffngjephn', target='_blank')

      .cta-text
        h1 Contract Reader
        h2 Know What You Sign Online

      .chrome
        img(src='/images/chrome.png')
        h3 (plz click me)

block footer
  p.footer
    &copy; Instrumental Tech
