doctype html
html
  head
    title Nutshell
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    script(src='/js/ga.js')
  body
    .modal.fade#modal(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4.modal-title Gain Access To Nutshell
          .modal-body
            p Enter your email address to gain access to Nutshell when it is released
            form
              .input-group
                input.form-control(type='text', placeholder='bobby@example.com')
          .modal-footer.cta
            button.btn.btn-lg(type='button', data-dismiss='modal', aria-label='Close') Submit

    nav.navbar.navbar-default.main-nav
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(data-toggle='collapse' data-target='#nav-target')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/').logo Nutshell
        .collapse.navbar-collapse#nav-target(aria-expanded="false" style="height: 1px;")
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/about') About
            li.divider
            li
              a(href='/faq') FAQ

    block content
    .footer
      p &copy; Instrumental Tech
      small Disclaimer: We are not legal counsel and our summarizations are not legal advice. Nutshell is designed to be used in tandem with legal assistance.
    script(src='/js/bundle.js')
