.new-submission
  text-align: center
  margin-top: 3rem

  .new-linkage
    text-align: center
    border-bottom: 1px solid black
    line-height: 2.3em
    height: 2.3em
    margin: 10px 0 4rem
    border-top: 2px solid black
    position: relative
    height: 0.3rem
    color: black

    fieldset
      position: absolute
      top: -1rem

      input
        border: none
        padding: 0 5rem
        border-right: 2px solid black
        border-left: 2px solid black
        height: 4rem
        outline: none;
        background-color: #f7f2e8

        &::-webkit-input-placeholder
          color: black
        &:-moz-placeholder
          color: black
        &::-moz-placeholder
          color: black
          opacity:  1;
        &:-ms-input-placeholder
          color: black

  .new-link
    margin-bottom: 1rem

  .line
    border-bottom: 1px solid
    height: 1rem

    &.left
      border-right: 1px solid

    &.right
      border-left: 1px solid
